@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */

html {
    font-size: 10px; 
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

a {
    text-decoration: none;
}

body {
    background-color: #d6d6d6;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*========== HEADER ==========*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    background-color: #262e41;
    padding: 1rem;
    height: 7.5rem;
    max-height: 7.5rem;
}

.header{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* HEADER LOGO */

.header-logo {
    display: flex;
    align-items: center;
}

.logo-txt{
    padding: 0 1rem;
}

.header-logo * {
    display: inline-block;
}

.logo {
    width: 5rem;
}
.logo:hover{
    animation: logo-animation .7s ease 0s;
}

/* HEADER MENU ICON */

#btn-menu{
    display: none;
}

.menu{
    display: none;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    padding: 0 1rem;
    /* transition: all .3s ease 0s; */
}
/* 
.menu:hover{
    color: #7c7c7c;
    transition: all .3s ease 0s;
} */

/* HEADER NAV */
.nav-area {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-area li {
    display: inline-block;
    padding-left: 2rem;
    max-width: 15rem;
    text-transform: uppercase;
}

.nav-area li a {
    color: #fff;
    font-size: 2rem;
    transition: all .3s ease 0s;
}

.nav-area li a:hover {
    color: #7c7c7c;
    transition: all .3s ease 0s;
}

.nav-area li a:active{
    color: #87a7f0;
}


/* .nav-area li:not(:first-child){
    border-left: 1px solid white;
} */

/*========== MAIN ==========*/

/* SLIDER TEXTOS */
.slider-container{
    margin: auto;
    background-color: #fff;
    width: 100%;
    height: 45rem;
    padding: 0;
}

.imagen{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin: 7.5rem auto 0;
    font-family: 'Dancing Script', cursive;
}

.imagen>*{
    width: 65%;
}

.imagen q{
    quotes: none;
}

.bg1{
    background-image: linear-gradient(160deg,violet,yellow);
}

.bg2{
    background-image: linear-gradient(300deg,lightgreen,#ff7b7b);
}

.bg3{
    background-image: linear-gradient(200deg,#ffa435,#7ed4ff);
}

.bg4{
    background-image: linear-gradient(45deg,#9BFF47,#E283EB);
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 100%;
    height: 45rem;
}

ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.slider-nav{
    text-align: center;
    position: relative;
    top: 4rem;
}

.slider-nav li{
    display: inline-block;
    text-align: center;
    padding: 0 .5rem;
}

.slider-nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #424242;
    width: 8rem;
    height: 2rem;
    font-style: 2rem;
    border-radius: 1rem;
}

.slider-nav li a:hover{
    background-color: #636363;

    transition: all .3s ease 0s;
}
/* CONTENIDO */
.main-container{
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 1200px;
    padding-top: auto;
}
/* PARTE DE TEXTO */
.principal-content{
    display: flex;
    margin: 7.5rem auto 0;
}
/* TEXTO PRINCIPAL Y ASIDE */
.main-txt{
    width: 70%;
}

.main-txt,
.principal-content>aside{
    padding: 3rem;
    line-height: 2.8rem;
    text-align: justify;
}

.principal-content>aside{
    width: 30%;
    background-color: #e9f9ff;
}

.principal-content>aside>div:not(:first-child),
.main-txt>div:not(:first-child){
    padding-top: 2rem;
}

.principal-content>aside h2,
.main-txt h2{
    text-decoration: underline;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.principal-content>aside h3
.main-txt h3{
    text-decoration: none;
    font-style: 2.2rem;
    padding: 0;
}

.main-txt p{
    text-indent: 3rem;
}

.aside-img{
    display: flex;
    justify-content: space-between;
}

.aside-img img{
    width: 46%;
}

/*========== FOOTER ==========*/

footer{
    background-color: #262e41;
    color: white;
}

.footer-container{
    display: flex;
    margin: auto;
    max-width: 1200px;
    justify-content: space-around;
    padding: 2rem;
}

.footer-container h3{
    margin-bottom: 1rem;
}

.footer-container>div{
    padding: 2rem;
    width: 30%;
    text-align: center;
}

.fabs-container{
    display: flex;
    justify-content: space-around;
}

.footer-fab{
    display: flex;
    width: 5rem;
    height: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    border: 3px solid white;
    border-radius: 2.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
}

.footer-fab .fab{
    font-size: 2.9rem;
    color: white;
}

.copyright{
    background-color: #3c4864;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

/*========== MEDIA QUERYS ==========*/

@media screen and (max-width:1024px){
    /* HEADER */

    .header .nav-area{
        position: absolute;
        background-color: #262e41;
        flex-direction: column;
        left: 0;
        top: 7.5rem;
        width: 70%;
        margin-left: -70%;
        transition: all .25s ease 0s;
    }

    .nav-area li{
        display: block;
        width: 100%;
        padding: 2rem;
    }

    .header{
        justify-content: center;
    }

    .menu{
        display: block;
        position: absolute;
        left: 1rem;
        top: 2.25rem;        
        cursor: pointer;
        font-size: 3rem;
        color: white;
        padding: 0 1rem;
    }

    #btn-menu:checked ~ nav .nav-area{
        margin-left: 0%;
        transition: all .5s ease 0s;
    }
    /* MAIN */
    /* FOOTER */
}

@media screen and (max-width:768px){
    /* HEADER */
    /* MAIN */
    .main-container{
        width: 100%;
    }
    .principal-content{
        display: block;
    }
    .principal-content>.main-txt,
    .principal-content>aside{
        width: 100%;
    }
    .main-txt p,
    .principal-content>aside p{
        text-indent: 0rem;
    }
    /* FOOTER */
    .footer-container{
        flex-direction: column;
        align-items: center;
    }
    .footer-container>div{
        width: 80%;
        margin: .5rem 0;
    }
    .fabs-container{
        display: flex;
        flex-wrap: nowrap;
        width: 80%;
        margin: auto;
    }

}
/* max-width:320px */
@media screen and (max-width:425px){
    /* HEADER */
    .logo-txt{
        display: none;
    }
    /* MAIN */
    .imagen>div{
        width: 80%;
    }

    .slider-nav{
        text-align: center;
        position: relative;
        top: 3rem;
    }

    .slider-nav li a{
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: #424242;
        width: 6rem;
        height: 3rem;
        font-style: 2rem;
        border-radius: 1.5rem;
    }
    /* FOOTER */
    
}

@keyframes logo-animation{

    20%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-16deg);
    }
    80%{
        transform: rotate(8deg);
    }
}