@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */

html {
    font-size: 10px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #d6d6d6;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*========== HEADER ==========*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    background-color: #262e41;
    padding: 1rem;
    height: 7.5rem;
    max-height: 7.5rem;
}

.header {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 0 20px,rgba(0, 0, 0, .3);
}

/* HEADER LOGO */

.header-logo {
    display: flex;
    align-items: center;
}

.logo-txt {
    padding: 0 1rem;
}

.header-logo * {
    display: inline-block;
}

.logo {
    width: 5rem;
}

.logo:hover {
    animation: logo-animation .7s ease 0s;
}

/* HEADER MENU ICON */

#btn-menu {
    display: none;
}

.menu {
    display: none;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    padding: 0 1rem;
    /* transition: all .3s ease 0s; */
}

/* 
.menu:hover{
    color: #7c7c7c;
    transition: all .3s ease 0s;
} */

/* HEADER NAV */
.nav-area {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-area li {
    display: inline-block;
    padding-left: 2rem;
    max-width: 15rem;
    text-transform: uppercase;
}

.nav-area li a {
    color: #fff;
    font-size: 2rem;
    transition: all .3s ease 0s;
}

.nav-area i{
    display: none;
}

.nav-area li a:hover {
    color: #7c7c7c;
    transition: all .3s ease 0s;
}

.nav-area li a:active {
    color: #87a7f0;
}


/* .nav-area li:not(:first-child){
    border-left: 1px solid white;
} */

/*========== MAIN ==========*/

/* SLIDER TEXTOS */
.slider-container {
    margin: auto;
    background-color: #fff;
    width: 100%;
    height: 45rem;
    padding: 0;
}

.imagen {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin: 7.5rem auto 0;
    font-family: 'Dancing Script', cursive;
}

.imagen>* {
    width: 65%;
}

.imagen q {
    quotes: none;
}

.bg1 {
    background-image: linear-gradient(160deg, violet, yellow);
}

.bg2 {
    background-image: linear-gradient(300deg, lightgreen, #ff7b7b);
}

.bg3 {
    background-image: linear-gradient(200deg, #ffa435, #7ed4ff);
}

.bg4 {
    background-image: linear-gradient(45deg, #9BFF47, #E283EB);
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 100%;
    height: 45rem;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.slider-nav {
    text-align: center;
    position: relative;
    top: 4rem;
}

.slider-nav li {
    display: inline-block;
    text-align: center;
    padding: 0 .5rem;
}

.slider-nav li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #424242;
    width: 8rem;
    height: 2rem;
    font-style: 2rem;
    border-radius: 1rem;
}

.slider-nav li a:hover {
    background-color: #636363;
    transition: all .3s ease 0s;
}

/* CONTENIDO */
.index-container {
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 1200px;
    padding-top: auto;
}

.main-container {
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 1200px;
    padding-top: 7.5rem;
}

/* PARTE DE TEXTO */
.principal-content {
    display: flex;
    margin: 7.5rem auto 0;
    /* padding-top: 7.5rem; */
}

/* TEXTO PRINCIPAL Y ASIDE */
.main-txt {
    width: 70%;
}

.main-txt,
.principal-content>aside {
    padding: 3rem;
}

p{
    line-height: 2.8rem;
    text-align: justify;
}

.principal-content>aside {
    width: 30%;
    background-color: #e9f9ff;
}

.principal-content div:not(:first-child) {
    padding-top: 2rem;
}

h2 {
    text-decoration: underline;
    font-size: 3rem;
    padding: 1rem 0;
}

h3 {
    text-decoration: none;
    font-style: 2.2rem;
    padding: 0;
    padding-bottom: 1rem;
}

.main-txt p {
    text-indent: 3rem;
}

.aside-img {
    display: flex;
    justify-content: space-between;
}

.aside-img img {
    width: 46%;
}
/* ***** FORM ***** */


[type="text"],[type="email"]{
    padding: .5rem .5rem;
}
[name="name"],[name="email"]{
    border: 1px solid red;
}

.map{
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 2rem;
}

/* ************** CONTACTS ************* */
#contacts .main-container>div>*{
    margin:1rem 0;
}

input,textarea{
    width: 100%;
    margin-bottom: 2rem;
    padding: .7rem;
    font-size: 1.7rem;
    border:none;
}

textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 210px;
    max-height: 210px;
}

#button{
    background-color: #31384a;
    color: white;
    padding: 2rem;
}

#button:hover{
    cursor: pointer;
    background-color: #485169;
}

/*========== FOOTER ==========*/

footer {
    background-color: #262e41;
    color: white;
}

.footer-container {
    display: flex;
    margin: auto;
    max-width: 1200px;
    justify-content: space-around;
    padding: 2rem;
}

.footer-container h3 {
    margin-bottom: 1rem;
}

.footer-container>div {
    padding: 2rem;
    width: 30%;
    text-align: center;
}

.fabs-container {
    display: flex;
    justify-content: space-around;
}

.footer-fab {
    display: flex;
    width: 5rem;
    height: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    border: 3px solid white;
    border-radius: 2.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
}

.footer-fab .fab {
    font-size: 2.9rem;
    color: white;
}

.copyright {
    background-color: #3c4864;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

/* *****CARDS */

.products-container{
    margin: 0 2rem;
    background-color: rgba(184, 215, 228, .3);
}

.card{
    width: 330px;
    height: 430px;
    border-radius: .8rem;
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 3);
    overflow: hidden;
    margin: 2rem;
    text-align: center;
    transition: all .25s;
    background-color: #fff;
}

.card-img{
    width: 330px;
    height: 430px;
    overflow-y: hidden;
}

.card-text{
    padding: 2rem;
    position: relative;
    top: 0;
    transition: all .25s ease 0s;
    max-height: 100%;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 3);
}

.card:hover>.card-text{
    transform: translateY(-100%);
    background-color: white;
    overflow-y: auto;
    transition: all .5s ease 0s;
    box-shadow: 0 12px 50px rgb(0, 0, 0);
}

.card img{
    width: 330px;
}

.card p{
    padding: 1rem;
    font-size: 16px;
    line-height: 2rem;
    text-align: center;
}

.card a{
    color: #3498db;
}

/* ***** EDITORIALES */
.editorial-logo img{
    max-width: 200px;
}

.editorial-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.editoriales-container{
    padding: 2rem;
}

/*========== MEDIA QUERYS ==========*/

@media screen and (max-width:1024px) {
    /* HEADER */

    .header .nav-area {
        position: absolute;
        background-color: #3e4c6e;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-style: double;
        border: .5rem solid #5f6a85;
        border-left: none;
        flex-direction: column;
        left: 0;
        top: 7.5rem;
        width: 70%;
        margin-left: -70%;
        transition: all .25s ease 0s;
    }

    .nav-area li {
        display: block;
        width: 100%;
        margin: 1rem 0;
        padding: 2rem;
        font-size: 1rem;
    }

    .header {
        justify-content: center;
    }

    .menu {
        display: block;
        position: absolute;
        left: 1rem;
        top: 2.25rem;
        cursor: pointer;
        font-size: 3rem;
        color: white;
        padding: 0 1rem;
    }

    #btn-menu:checked~nav .nav-area {
        margin-left: 0%;
        transition: all .5s ease 0s;
    }

    .nav-area i{
        display: inline;
        padding-right: 2rem;
        font-size: 2rem;
    }

    /* MAIN */
    /* FOOTER */
}

@media screen and (max-width:768px) {

    /* HEADER */
    /* MAIN */
    .index-container,
    .main-container,
    .products-container {
        margin: 0;
        width: 100%;
    }

    .principal-content {
        display: block;
    }

    .principal-content>.main-txt,
    .principal-content>aside {
        width: 100%;
    }

    .main-txt p,
    .principal-content>aside p {
        text-indent: 0rem;
    }

    /* FOOTER */
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-container>div {
        width: 100%;
        margin: .5rem 0;
    }

    .fabs-container {
        display: flex;
        flex-wrap: nowrap;
        width: 80%;
        margin: auto;
    }

    .adjustment{
        flex-direction: column;
    }

    .adjustment>div{
        width: 90%;
        margin: 0 auto;
    }
    .adjustment>*:not(:first-child){
        margin-top: 2rem;
    }
}

/* max-width:320px */
@media screen and (max-width:425px) {

    /* HEADER */
    .logo-txt {
        display: none;
    }

    /* MAIN */
    .imagen>div {
        width: 80%;
    }

    .slider-nav {
        text-align: center;
        position: relative;
        top: 3rem;
    }

    .slider-nav li a {
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: #424242;
        width: 6rem;
        height: 3rem;
        font-style: 2rem;
        border-radius: 1.5rem;
    }
    .main-txt,
    .principal-content>aside {
        padding: 1rem;
    }

    .editoriales-container{
        flex-direction: column;
    }
    /* FOOTER */

}

@keyframes logo-animation {
    20% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(-16deg);
    }

    80% {
        transform: rotate(8deg);
    }
}

/*========== CLASES AJUSTES ==========*/

.test{
    width: 90%;
    height: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #bcf;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-SpaceB{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-SpaceA{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.border{
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 1rem;
    background-color: rgba(0,0,0,.4);
}

.borderB{
    padding: 0;
    margin: 0;
    border: 1px solid black;
    border-radius: 2rem;
}

.p2{
    padding-left: 2rem;
    padding-right: 2rem;
}

.w50{
    width: 48%;
}

.w100{
    width: 100%;
}

.mt{
    margin-top: 7.5rem;
}

.pt{
    padding-top: 9rem;
}

.pb{
    padding-bottom: 2rem;
}